body{
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;

}
header {
  align-content: stretch;
}

body a:link, body a:visited {
  font-size: 28px;
}

body a:hover, body a:active {
  text-decoration: none;
}
iframe{
  max-width: 100%;
  max-height: 100%;
}
.center{ 
display: none;

}
#nav-bar {
  background-color: #d1e0e0;
  width: 100%;
  padding: 20px;
  position: relative;
  text-align: center;
  float: middle;
}
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}
#logo {
  width: 200px;
  max-width: 100%;
  padding: 30px 0px 0px 0px;
}

#header-img {
  max-width: 100%;
  max-height: 100%;
}

.nav-link {
  padding: 60px;
}
header div h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Parisienne', cursive;
  margin-top: 0;
  }

h2{
  text-align: center;
  font-size: 50px;
}
.column1 {
    float: left;
    width: 50%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}
.row1 {
    display: flex;
}

.column1 {
    flex: 50%;
}
.contact{
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.contact img{
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 400px;
  display: block;
  margin: 0 auto;
}
#gyik p{
  width:300px;
  float: middle;
  display:inline-block;
  position:relative;
  
}

@media screen and (max-width: 967px) {
  .contact img{
        width: 300px;
        height: 300px;
      }
  body a:link, body a:visited {
        font-size: 20px;
}
  p{
    font-size: 19px;

}
}
.column {
        width: 100%;
    }
@media screen and (max-width: 778px) {
  .contact img{
        width: 200px;
        height: 200px;
      }
      h2{
        font-size: 30px;
      }
      h3{
        font-size: 15px;
      }
      body a:link, body a:visited {
        font-size: 13px;
}
      p{
          font-size: 13px;

}
      #logo{
        width:150px;
      }
}
@media screen and (max-width: 570px) {
  .contact img{
        width: 150px;
        height: 150px;
      }
      h2{
        font-size: 20px;
      }
      h3{
        font-size: 10px;
      }
      body a:link, body a:visited {
        font-size: 10px;
      }
      p{
         font-size: 10px;

      }
      #logo{
        width:130px;
      }
}
@media screen and (max-width: 475px) {
  .contact img{
        width: 100px;
        height: 100px;
      }
      h2{
        font-size: 12px;
      }
      h3{
        font-size: 6px;
      }
      body a:link, body a:visited {
        font-size: 6px;
}
      p{
         font-size: 6px;

      }
      #logo{
        width:110px;
      }
}
@media screen and (max-width: 380px) {
  .contact img{
        width: 70px;
        height: 70px;
      }
      h2{
        font-size: 8px;
      }
      h3{
        font-size: 4px;
      }
      body a:link, body a:visited {
        font-size: 4px;
}
      p{
         font-size: 4px;

      }
      #logo{
        width:90px;
      }
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#program{
  text-align: center;
}
#program p{
  text-align: center;
}
section{
  padding-top: 200px;
}

footer {

  background-image:url(akvarell1.png);
  background-position: center bottom, bottom center;
  background-size: 450px;
  background-size: 35% ;
  background-repeat: no-repeat;
  max-width: 100%;
}
footer div h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Parisienne', cursive;
}
footer div h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Parisienne', cursive;
}
@media (min-width: @screen-xs-min) {

    .h1-xs,
    .h2-xs,
    .h3-xs {
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 65%;
        }
    }

    .h4-xs,
    .h5-xs,
    .h6-xs {
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 75%;
        }
    }

    .h1-xs { font-size: @font-size-h1; }
    .h2-xs { font-size: @font-size-h2; }
    .h3-xs { font-size: @font-size-h3; }
    .h4-xs { font-size: @font-size-h4; }
    .h5-xs { font-size: @font-size-h5; }
    .h6-xs { font-size: @font-size-h6; }
}

@media (min-width: @screen-sm-min) {

    .h1-sm,
    .h2-sm,
    .h3-sm {
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 65%;
        }
    }

    .h4-sm,
    .h5-sm,
    .h6-sm {
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 75%;
        }
    }

    .h1-sm { font-size: @font-size-h1; }
    .h2-sm { font-size: @font-size-h2; }
    .h3-sm { font-size: @font-size-h3; }
    .h4-sm { font-size: @font-size-h4; }
    .h5-sm { font-size: @font-size-h5; }
    .h6-sm { font-size: @font-size-h6; }
}

@media (min-width: @screen-md-min) {

    .h1-md,
    .h2-md,
    .h3-md {
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 65%;
        }
    }

    .h4-md,
    .h5-md,
    .h6-md {
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 75%;
        }
    }

    .h1-md { font-size: @font-size-h1; }
    .h2-md { font-size: @font-size-h2; }
    .h3-md { font-size: @font-size-h3; }
    .h4-md { font-size: @font-size-h4; }
    .h5-md { font-size: @font-size-h5; }
    .h6-md { font-size: @font-size-h6; }
}

@media (min-width: @screen-lg-min) {

    .h1-lg,
    .h2-lg,
    .h3-lg {
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 65%;
        }
    }

    .h4-lg,
    .h5-lg,
    .h6-lg {
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 75%;
        }
    }

    .h1-lg { font-size: @font-size-h1; }
    .h2-lg { font-size: @font-size-h2; }
    .h3-lg { font-size: @font-size-h3; }
    .h4-lg { font-size: @font-size-h4; }
    .h5-lg { font-size: @font-size-h5; }
    .h6-lg { font-size: @font-size-h6; }
}
